body {
    background: #333;
    color: #fff;
    margin: 0 0 0 0px;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#screen {
    float: left;
    margin: 0 0 0 0px;
    top: 0;
    width: 614px;
}

#pictures {
    float: left;
    margin: 0 0 0 0px;
    margin-top: 25px;
    width: 614px;

}

#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    right: 1em;
    text-align: center;
}
#copy a {
    color: #fff;
}
